body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mySwiper{
  height: 400px;
  width: 600px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.buttonPrev{
  color: blue;
  border: none;
  background: none;
  position: relative;
  top: 195px;
  left: 15px;
  font-size: 40px;
}
.buttonNext{
  color: blue;
  border: none;
  background: none;
  position: relative;
  top: 195px;
  left: 520px;
  font-size: 40px;

}